<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{$site.name|htmlentities}</title>
    <link rel="stylesheet" href="__CDN__/skin/css/bootstrap.min.css">
    <script src="__CDN__/skin/js/jquery.min.js"></script>
    <script src="__CDN__/skin/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="__CDN__/skin/css/all.css" crossorigin="anonymous">

    <!-- <script src="__CDN__/skin/js/jquery-3.5.1.slim.min.js"></script> -->
    <script src="__CDN__/skin/js/bootstrap.bundle.min.js"></script>

    <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="__CDN__/skin/css/jquery.datatables.css">
    <script type="text/javascript" charset="utf8" src="__CDN__/skin/js/jquery.datatables.js"></script>

    <script type="text/javascript" src="__CDN__/skin/js/pace.min.js"></script>
    <link rel="stylesheet" type="text/css" href="__CDN__/skin/css/pace-theme-flash.css">
    <link rel="stylesheet" type="text/css" href="__CDN__/skin/css/lbd.css">
    <script src="__CDN__/skin/js/lbd.js"></script>
</head>

<style type="text/css">
.pace .pace-progress {
  background: #1E92FB; /*进度条颜色*/
  height: 3px;
}
.pace .pace-progress-inner {
  box-shadow: 0 0 10px #1E92FB, 0 0 5px     #1E92FB; /*阴影颜色*/
}
.pace .pace-activity {
  border-top-color: #1E92FB;    /*上边框颜色*/
  border-left-color: #1E92FB;    /*左边框颜色*/
}

#navbar a{
  color: #FAFAFA;
}
div {
  text-align: justify;
}
</style>

<body>
  <!--Navigator-->
  {include file="common/head" /}
<!-- Page Content-->
<div class="container">
    <!-- Heading Row-->

    <div class="row">
      <br>
      <br>
      <br>
    </div>
    <div class="row statistics">
        <div class="col-md-3 tc"><img src="__CDN__/skin/images/simg1.png"></div>
        <div class="col-md-3 tc"><img src="__CDN__/skin/images/simg2.png"></div>
        <div class="col-md-3 tc"><img src="__CDN__/skin/images/simg3.png"></div>
        <div class="col-md-3 tc"><img src="__CDN__/skin/images/simg4.png"></div>
        </div>
        
         <div class="row statistics">
      <br>
      <div class="col-md-6 tc"><img src="__CDN__/skin/images/simg5.png"></div>
      <div class="col-md-6 tc"><img src="__CDN__/skin/images/simg6.png"></div>  
      <br>
      <br>
    </div>


</div>
<!-- Footer-->
<!-- <footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Firefox & Chrome recommended.<br />
      &copy; All rights reserved by <a target="_blank" href="http://bis.zju.edu.cn/binfo/index.htm">Ming Chen's Lab</a>, Zhejiang University.</p>
  </div>
</footer> -->
</body> 
</html> 